<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016Colorful</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <appSettings>
    <add key="CASCRS_DB_CONN" value="Data Source=;Initial Catalog=;Integrated Security=False;User ID=;Password=;Connect Timeout=3600;Encrypt=False;TrustServerCertificate=False" />
    <add key="CASCRS_DB_U8_CONN1" value="Data Source=;Initial Catalog=;Integrated Security=False;User ID=;Password=;Connect Timeout=3600;Encrypt=False;TrustServerCertificate=False" />
    <add key="CASCRS_DB_U8_CONN2" value="Data Source=;Initial Catalog=;Integrated Security=False;User ID=;Password=;Connect Timeout=3600;Encrypt=False;TrustServerCertificate=False" />
    <add key="SERVER_NAME" value="" />
    <add key="DB_PASSWORD" value="" />
    <add key="DB_NAME" value="" />
    <add key="MIDDLE_ACC_YEAR" value="" />
    <add key="MIDDLE_ACC_ID" value="" />
    <add key="TARGET_ACC_YEAR" value="" />
    <add key="TARGET_ACC_ID" value="" />
    <add key="LOGIN_DATE" value="" />
    <add key="FIRST_RUN" value="1" />
    <add key="USER_ID" value="" />
    <add key="USER_NAME" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>